/* Container principal */
.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

/* Títulos principais */
h1 {
  font-size: 3rem;
  color: aliceblue;
}

/* Campo de entrada */
input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 60%;
  max-width: 300px;
  outline: none;
  margin-top: 30px;
}

/* Botões gerais */
button {
  background-color: rgb(140, 140, 140);
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: aliceblue;
  font-weight: bold;
}

button:hover {
  background-color: rgb(100, 100, 100);
}

/* Informações do tempo */
.weather-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature {
  font-weight: bold;
  font-size: 1rem;
}

.description {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.weather-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.weather-item {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.forecast-day,
.forecast-description {
  text-transform: capitalize;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  background: rgb(55, 55, 55);
  border-radius: 5px;
}

.header-button {
  background-color: rgb(140, 140, 140);
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
}

.header-button:hover {
  background-color: rgb(100, 100, 100);
}