/* Container principal */
.container {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

/* Títulos principais */
h1 {
  font-size: 3rem;
  color: aliceblue;
}

/* Campo de entrada */
input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 60%;
  max-width: 300px;
  outline: none;
  margin-top: 30px;
}

/* Botões gerais */
button {
  background-color: rgb(140, 140, 140);
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: aliceblue;
  font-weight: bold;
}

button:hover {
  background-color: rgb(100, 100, 100);
}

/* Informações do tempo */
.weather-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 50px 20px 50px;
}

h2 {
  font-size: 2rem;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature {
  font-weight: bold;
  font-size: 1rem;
}

.description {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

/* Estilização responsiva para telas menores que 400px */
@media (max-width: 500px) {
  .details {
    display: grid;
    /* Altera para grid layout */
    grid-template-columns: repeat(2, 1fr);
    /* Define duas colunas */
    gap: 10px;
    /* Espaçamento entre os itens */
    text-align: center;
    /* Centraliza os textos */
  }
}

h3 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.weather-horizontal-scroll {
  display: flex;
  /* Alinha os itens em uma linha */
  overflow-x: scroll;
  /* Permite rolagem horizontal */
  justify-content: space-evenly;
  /* Espaçamento uniforme entre os itens */
  padding: 10px;
  /*scrollbar-width: none;  Firefox */
  /*-ms-overflow-style: none; IE e Edge */
}

.weather-horizontal-scroll::-webkit-scrollbar {
  /*display: none; Chrome, Safari e Opera */
}

.weather-item {
  flex: 0 0 auto;
  /* Garante que os itens não encolham */
  text-align: center;
  width: 210px;
  /* Largura fixa para cada item */
  padding: 10px;
  margin: 0 5px;
  /* Espaçamento adicional opcional entre itens */
}

.forecast-day,
.forecast-description {
  text-transform: capitalize;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  background: rgb(55, 55, 55);
  border-bottom: 1px solid rgb(77, 77, 77);
}

.header-button {
  background-color: rgb(140, 140, 140);
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
  margin: 10px;
}

.header-button:hover {
  background-color: rgb(100, 100, 100);
}

/* Tela de Login - Container principal */
.login-container {
  max-width: 340px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Título */
.login-container h2 {
  font-size: 2rem;
  color: rgb(55, 55, 55);
  margin-bottom: 20px;
}

/* Estilo do formulário */
.login-container .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Espaçamento entre os elementos do formulário */
}

/* Inputs e botões */
.login-container label {
  margin: 0;
  /* Remove margens entre os rótulos */
}

.login-container input,
.login-container button {
  width: 100%;
  /* Ambos com largura de 100% */
  padding: 12px;
  /* Ajuste para garantir que tenham a mesma altura */
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  margin: 0;
  /* Remove margens individuais */
  box-sizing: border-box;
  /* Garantir que o padding e bordas não alterem o tamanho total */
  outline: none;
}

/* Ajustes específicos para o botão */
.login-container button {
  background-color: rgb(140, 140, 140);
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: rgb(100, 100, 100);
}

/* Mensagem de feedback */
.login-container .message {
  margin-top: 10px;
  font-size: 0.9rem;
  color: rgb(55, 155, 55);
}

/* Links alternativos */
.login-container p {
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
  margin: 15px 0 0;
  /* Apenas espaçamento superior */
}

.login-container p span {
  color: rgb(100, 100, 255);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.login-container p span:hover {
  text-decoration: underline;
}

.logout-container {
  text-align: center;
  margin-top: 50px;
}

.logout-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.confirm-button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button {
  background-color: #5bc0de;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirm-button:hover {
  background-color: #c9302c;
}

.cancel-button:hover {
  background-color: #31b0d5;
}